{% layout 'theme' %}

<main role="main">
  <h1>关于我们</h1>
  <p>
    欢迎来到我们的店铺！我们是一个充满激情的团队，致力于为您提供最好的产品和服务。我们的使命是让您的购物体验变得简单、愉悦和负担得起。
  </p>
  {% section 'Canvas' %}

  <img src="{{ 'about-us.jpg' | asset_url }}" alt="关于我们">
</main>
